<div
  class="container box-shadow-default text-light border-top border-danger border-4"
>
  <div class="d-flex p-2 pb-0 pt-4 justify-content-between">
    <div></div>
    <div class="h5 fw-bold">
      <i
        class="bi bi-box-arrow-in-right pe-2 align-middle"
        style="font-size: 1.6rem"
      ></i>
      Join Meeting
    </div>

    <div class="">
      <button
        class="btn btn-sm btn-outline-light border-0 p-0 mb-2"
        (click)="onClose()"
      >
        <i class="bi bi-x-lg px-1" style="font-size: 1rem"></i>
      </button>
    </div>
  </div>
  <div class="text-secondary text-center pb-3">
    Enter the meeting details to join the meeting
  </div>
  <br />

  <div class="py-2 px-3">
    <div class="align-self-center py-1"><strong>Meeting ID</strong></div>
    <input
      type="text"
      class="form-control bg-dark cust-text-secondary my-2 border-secondary"
      placeholder="Enter Your Meeting ID"
      [(ngModel)]="userMeetingId"
    />
  </div>
  <br />
  <div class="px-3 py-3 d-flex justify-content-center pb-4">
    <div class="w-100 pb-2">
      <button class="btn btn-danger w-100" (click)="onJoin()">Join</button>
    </div>
  </div>
</div>
