<div class="" style="width: 100%">
  <div
    class="d-flex cust-text-secondary pt-2 pb-1 mb-1 px-2"
    style="border-bottom: 2px solid #444"
  >
    <div class="h6 align-self-center">
      <i
        class="bi bi-people button-icon pe-1 align-middle fw-bold"
        style="font-size: 1.1rem"
      ></i>
      People
    </div>
    <div class="ms-auto">
      <button
        class="btn btn-sm btn-outline-light border-0 p-0 mb-2"
        (click)="onClose()"
      >
        <i class="bi bi-x-lg px-1" style="font-size: 1rem"></i>
      </button>
    </div>
  </div>
  <br />

  <!-- Invite Link -->
  <div class="d-flex cust-text-secondary px-1">
    <div class="align-self-center">
      <i class="bi bi-person-add pe-1" style="font-size: 1rem"></i>
      <small> Invite someone</small>
    </div>
    <div class="ms-auto">
      <button
        class="btn btn-sm btn-outline-light border-secondary"
        (click)="openInvitePeopleDialog()"
      >
        <i
          class="bi bi-share-fill p-1 pe-2 align-middle"
          style="font-size: 0.8rem"
        ></i>

        <small> Share </small>
      </button>
    </div>
  </div>
  <br />

  <!-- Partcipants List -->
  <div class="cust-text-tertiary fw-small px-1 pb-2">
    <small
      >Currently in this meeting ({{ currPeerPartcipants.length + 1 }})</small
    >
  </div>

  <div class="overflow-auto" style="max-height: 60vh">
    <div class="participant-details">
      <!-- Current User Participant -->
      <div class="d-flex mt-1">
        <div
          class="mx-1 align-self-center rounded-circle border border-2"
          [ngClass]="
            meetingService.isRaisedHand ? 'border-warning' : 'border-dark'
          "
        >
          <small
            class="particpant-avatar text-uppercase p-1 shadow"
            ngClass="participant-color-1"
            >{{
              splitPartcipantName(meetingService.userParticipantName)
            }}</small
          >
        </div>
        <div
          class="ps-1 cust-text-secondary align-self-center cut-text"
          style="max-width: 150px"
        >
          <small>{{ meetingService.userParticipantName }}</small>
        </div>
        <div class="ps-2 cust-text-secondary align-self-center">
          <small>(You)</small>
        </div>
        <div class="ms-auto p-2 cust-text-secondary">
          <div class="d-flex flex-nowrap">
            <button
              *ngIf="meetingService.isRaisedHand"
              class="btn btn-sm p-0 border-0 btn-outline-light"
              (click)="onRaiseHand()"
            >
              <i
                class="bi px-1"
                style="font-size: 0.8rem"
                [ngClass]="
                  meetingService.isRaisedHand
                    ? 'bi-hand-index-thumb-fill text-warning'
                    : 'bi-hand-index-thumb'
                "
              ></i>
            </button>
            <button
              class="btn btn-sm p-0 border-0 btn-outline-light"
              [disabled]="mediaService.micStatus === mediaStatus.LOADING"
              (click)="onMicToggle()"
            >
              <i
                class="bi px-1"
                [ngClass]="
                  mediaService.micStatus === mediaStatus.ENABLED
                    ? 'bi-mic'
                    : 'bi-mic-mute'
                "
              ></i>
            </button>
            <button
              class="btn btn-sm p-0 border-0 btn-outline-light pe-1"
              [disabled]="mediaService.cameraStatus === mediaStatus.LOADING"
              (click)="onCameraToggle()"
            >
              <i
                class="bi ps-1"
                [ngClass]="
                  mediaService.cameraStatus === mediaStatus.ENABLED
                    ? 'bi-camera-video'
                    : 'bi-camera-video-off'
                "
              ></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Peer Partcipants -->
      <div
        class="d-flex mt-2"
        *ngFor="let peerParticipant of currPeerPartcipants"
      >
        <div
          class="mx-1 align-self-center rounded-circle border border-2"
          [ngClass]="
            peerParticipant.handRaised ? 'border-warning' : 'border-dark'
          "
        >
          <small
            class="particpant-avatar text-uppercase p-1 shadow"
            ngClass="participant-color-{{ (peerParticipant.roll % 5) + 1 }}"
            >{{ splitPartcipantName(peerParticipant.participantName) }}</small
          >
        </div>
        <div
          class="ps-1 cust-text-secondary align-self-center cut-text"
          style="max-width: 150px"
        >
          <small>{{ peerParticipant.participantName }}</small>
        </div>

        <div class="ms-auto p-2 cust-text-secondary">
          <div class="d-flex flex-nowrap text-light">
            <div
              *ngIf="
                peerParticipant.connection.status == connectionStatus.CONNECTED;
                else connectingParticipantTemplate
              "
            >
              <i
                *ngIf="peerParticipant.handRaised"
                class="bi bi-hand-index-thumb-fill text-warning px-1"
              ></i>
              <i
                class="bi px-1"
                [ngClass]="
                  peerParticipant.micEnabled ? 'bi-mic' : 'bi-mic-mute'
                "
              ></i>
              <i
                class="bi px-1"
                [ngClass]="
                  peerParticipant.videoEnabled
                    ? 'bi-camera-video'
                    : 'bi-camera-video-off'
                "
              ></i>
            </div>
            <ng-template #connectingParticipantTemplate>
              <div class="text-secondary"><small>Connecting...</small></div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
