<nav class="navbar sticky-top cust-bg-primary navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a
      class="navbar-brand text-secondary"
      routerLink="/problems"
      title="Go to home"
    >
      <span class="h6">
        <i
          class="pi pi-angle-double-up text-warning align-middle pe-1"
          style="font-size: 1.5rem"
        ></i>
        <span class="title-algo text-light fw-light"></span>
        <span class="title-blitz text-warning fwbold">
          {{ "{" }}echo RTC{{ "}" }}
        </span>
      </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ps-4">
          <a
            class="nav-link"
            aria-current="page"
            title="Go to all problems"
            routerLink="/problems"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="font-sm">Problems</span>
          </a>
        </li>
        <li class="nav-item ps-2">
          <a
            class="nav-link"
            aria-current="page"
            title="Go to all problems"
            routerLink="/problems/top-10"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="font-sm"> Top 10 Problems</span>
          </a>
        </li>
        <li class="nav-item ps-2">
          <a
            class="nav-link"
            aria-current="page"
            title="Go to all problems"
            routerLink="/problems/top-25"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="font-sm"> Top 25 Problems</span>
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="font-sm align-middle pt-1 pe-3 me-3 text-light border-end">
          <a
            class="fw-s a-link text-light"
            target="_blank"
            href="https://medium.com/@sameerkhurd/from-design-to-demo-building-a-full-stack-leetcode-like-platform-with-system-design-4c86d61f398a"
          >
            <small> System Design Blog </small>
          </a>
        </div>

        <a
          class="align-middle pe-3 me-3 text-light border-end"
          target="_blank"
          href="https://github.com/SameerKhurd/algo-bytes"
        >
          <i class="pi align-middle pi-github" style="font-size: 1rem"></i
        ></a>

        <a
          class="align-middle text-light pe-3 me-3 border-end"
          target="_blank"
          href="https://www.linkedin.com/in/sameer-khurd"
        >
          <i class="pi align-middle pi-linkedin" style="font-size: 1rem"></i
        ></a>

        <div class="font-sm align-middle pt-1">
          <small> Logged in as <strong></strong> </small>
        </div>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-meeting></app-meeting> -->
<!-- <button color="primary" (click)="video()">Video</button>
<button color="primary" (click)="mic()">Mic</button>
<button color="primary" (click)="startMeeting()">startMeeting</button>
<button color="primary" (click)="joinMeeting()">joinMeeting</button>
<input [(ngModel)]="this.videoService.meetingId" />
<input [(ngModel)]="this.videoService.participantId" />

<br />
<button
  *ngFor="let videoDevice of videoService.availableVideoDevices"
  (click)="onVideoDeviceSelect(videoDevice)"
>
  {{ videoDevice.label }}
</button>
DmdTwzyN9j3EaEokTRLA
<h2>1. Start your Webcam</h2>
<div class="videos">
  <span>
    <h3>Local Stream</h3>
    <video
      [srcObject]="videoService.localStream"
      [autoplay]="true"
      [muted]="true"
    ></video>
    <div>
      Video: {{ videoService.localStream?.getVideoTracks()[0].enabled }}
    </div>
    <div>Mic: {{ videoService.localStream?.getAudioTracks()[0].enabled }}</div>
  </span>
  length = {{ videoService.partcipants.length }}
  <div *ngFor="let peer of videoService.partcipants; let i = index">
    <h3>{{ i + 1 }} {{ peer.participant.participantId }}</h3>

    <div [ngSwitch]="peer.status">
      <div *ngSwitchCase="'new'">output</div>
      <div *ngSwitchCase="'connected'">
        <video [srcObject]="peer.remoteStream" [autoplay]="true"></video>
        <div>Video: {{ peer.remoteStream.getVideoTracks()[0].enabled }}</div>
        <div>Mic: {{ peer.remoteStream.getAudioTracks()[0].enabled }}</div>
      </div>
    </div>

  </div>
</div>

<button (click)="onWebcam()">Start webcam</button>
<h2>2. Create a new Call</h2>
<button id="callButton" disabled>Create Call (offer)</button>

<h2>3. Join a Call</h2>
<p>Answer the call from a different browser window or device</p>

<input id="callInput" />
<button id="answerButton" disabled>Answer</button>

<h2>4. Hangup</h2>

<button id="hangupButton" disabled>Hangup</button> -->

<!-- <div class="container">
  <h1> add robot </h1>
  <form (ngSubmit)="addRobot(name, color, age)">
      <p> name </p>
      <input name="name" [(ngModel)]="name">
      <p> color </p>
      <input name="color" [(ngModel)]="color">
      <p> age </p>
      <input name="age" [(ngModel)]="age">
      <button type="submit"> submit </button>
  </form>
</div>

<div *ngFor="let robot of robots">
  <h3> {{ robot.name }} </h3>
  <p> color: {{ robot.color }} </p>
  <p> age: {{ robot.age }} </p>
<!-- </div>  -->
