<ng-container *ngIf="!joinedMeeting; else meetingRoomTemplate">
  <div class="container cust-text-secondary py-3 my-2">
    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div class="bg-dark-1 cust-border p-3 rounded-top">
          <div class="ms-2 ps-4 border-start border-3 border-danger">
            <div class="d-flex justify-content-between">
              <div>
                <div class="h6 text-ligsht">
                  <strong> Join Meeting</strong>
                </div>
                <div class="h4 text-light">
                  <strong>{{ meetingService.meetingName }}</strong>
                </div>
              </div>
              <div>
                <button class="btn btn-outline-light border-secondary border-0">
                  <i
                    class="bi bi-share-fill p-1 pe-2 align-middle"
                    style="font-size: 0.8rem"
                  ></i>

                  <small> Share Invite </small>
                </button>
              </div>
            </div>

            <!-- <div class="">
              <strong>Meeting ID</strong>
              <span class="ps-2 cust-text-tertiary">
                <span>tIQSBsmGU8tWBTvwj6IQ</span>
              </span>
            </div> -->
          </div>
        </div>
        <div class="px-3 pt-2 border-1 bg-dark-1 cust-border">
          <app-device-settings></app-device-settings>
        </div>
        <div class="p-3 py-4 mb-4 bg-dark-1 cust-border rounded-bottom">
          <div class="ms-2 ps-4 border-start border-3 border-danger">
            <div class="ps-1 h6 text-light">
              <strong> Enter your details to join the meeting</strong>
            </div>
            <div class="ps-1 cust-text-secondary">
              <strong>Your Name</strong>
            </div>
            <div class="pt-2">
              <div class="d-flex justify-content-between">
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control bg-dark cust-text-secondary border-secondary"
                    placeholder="Enter Your Name"
                    [(ngModel)]="meetingService.userParticipantName"
                  />
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-danger float-end me-2"
                    style="min-width: 100px"
                    (click)="onJoinMeeting()"
                  >
                    <small> Join Meeting </small>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #meetingRoomTemplate>
  <app-meeting></app-meeting>
</ng-template>
