<app-meeting-control-button
  [meetingSideSection]="meetingSideSection"
></app-meeting-control-button>

<div class="d-flex">
  <div class="body">
    <div class="main">
      <div
        #meetingTiles
        (window:resize)="onResize($event)"
        class="w-100 d-flex align-self-center p-2"
        style="height: 100%; position: relative"
      >
        <div
          class="w-100 d-flex justify-content-center flex-wrap align-self-center"
        >
          <!-- Waiting for participants to join -->
          <div
            *ngIf="currPeerPartcipants.length === 0; else participantTiles"
            class="align-items-center text-light text-center"
          >
            <div style="position: relative">
              <div class="text-center rounded-circle">
                <div class="">
                  <small
                    class="particpant-avatar text-uppercase p-1 waiting-to-join"
                    ngClass="participant-color-1"
                    >{{
                      splitPartcipantName(meetingService.userParticipantName)
                    }}</small
                  >
                </div>
              </div>
            </div>
            <div class="pt-4 mt-4 h5">Waiting for others to join</div>
            <div class="pt-2 mt-3">
              <button
                class="btn btn-sm btn-outline-light border-secondary px-3"
                (click)="openInvitePeopleDialog()"
              >
                <i
                  class="bi bi-share-fill p-1 pe-2 align-middle"
                  style="font-size: 0.8rem"
                ></i>

                <small> Invite People </small>
              </button>
            </div>
          </div>

          <!-- Participant tiles -->
          <ng-template #participantTiles>
            <div
              *ngFor="let peerParticipant of currPeerPartcipants"
              [style.height]="videoTileHeight + 'px'"
              [style.width]="videoTileWidth + 'px'"
              style="position: relative"
            >
              <!-- Emoji Reaction Overlap Section -->
              <div
                *ngIf="peerParticipant.emojiReacted"
                class="elementToFadeInAndOut display-2 text-center"
              >
                {{ peerParticipant.emojiReaction }}
              </div>

              <!-- Partcipant Video Enabled Section -->
              <ng-container
                *ngIf="
                  peerParticipant.videoEnabled &&
                    peerParticipant.connection.status ==
                      connectionStatus.CONNECTED;
                  else peerVideoDisabledTemplate
                "
              >
                <div
                  class="mt-1 ms-1 shadow d-inline-block p-1 rounded-3 border border-3"
                  [ngClass]="
                    peerParticipant.connection.audioReceiver?.getSynchronizationSources()[0]
                      ?.audioLevel! > 0.005
                      ? ' border-speaking'
                      : peerParticipant.handRaised
                      ? ' border-warning hand-raised-avatar'
                      : 'border-transparent'
                  "
                >
                  <div
                    class="bottom-left p-1 px-2 rounded-pill text-light shadow ms-3 mb-1"
                  >
                    <i
                      *ngIf="peerParticipant.handRaised"
                      class="bi bi-hand-index-thumb-fill text-warning pe-1"
                    ></i>
                    <i
                      class="button-icon bi pe-2"
                      [ngClass]="
                        peerParticipant.micEnabled
                          ? 'bi-mic-fill'
                          : 'bi-mic-mute-fill'
                      "
                    ></i>
                    <small>{{ peerParticipant.participantName }}</small>
                  </div>
                  <video
                    class="rounded-1"
                    [style.height]="videoTileHeight + 'px'"
                    [style.width]="videoTileWidth + 'px'"
                    [srcObject]="peerParticipant.connection.remoteMediaStream"
                    [autoplay]="true"
                  ></video>
                </div>
              </ng-container>

              <!-- Partcipant Video Disabled Section -->
              <ng-template #peerVideoDisabledTemplate>
                <div
                  class="text-light pt-2 d-flex align-items-center justify-content-center"
                  [style.height]="videoTileHeight + 'px'"
                  [style.width]="videoTileWidth + 'px'"
                >
                  <div>
                    <div style="position: relative">
                      <div
                        *ngIf="
                          peerParticipant.connection.status ==
                          connectionStatus.WAITING
                        "
                        class="connecting text-light d-flex justify-content-center rounded-circle"
                      >
                        <div class="align-self-center">Connecting...</div>
                      </div>
                      <div
                        class="text-center rounded-circle border border-3"
                        style="width: 8.35rem; height: 8.35rem"
                        [ngClass]="
                          peerParticipant.connection.audioReceiver?.getSynchronizationSources()[0]
                            ?.audioLevel! > 0.005
                            ? ' border-speaking'
                            : peerParticipant.handRaised
                            ? ' border-warning hand-raised-avatar'
                            : 'border-transparent'
                        "
                      >
                        <div>
                          <small
                            class="particpant-avatar text-uppercase p-1"
                            ngClass="participant-color-{{
                              (peerParticipant.roll % 5) + 1
                            }}  {{
                              peerParticipant.connection.status ==
                              connectionStatus.CONNECTED
                                ? 'box-shadow-default'
                                : ''
                            }} "
                            >{{
                              splitPartcipantName(
                                peerParticipant.participantName
                              )
                            }}</small
                          >
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 rounded-2 text-light text-center me-2">
                      <i
                        *ngIf="peerParticipant.handRaised"
                        class="bi bi-hand-index-thumb-fill text-warning pe-1"
                      ></i>
                      <i
                        class="button-icon bi pe-2"
                        [ngClass]="
                          peerParticipant.micEnabled
                            ? 'bi-mic-fill'
                            : 'bi-mic-mute-fill'
                        "
                      ></i>
                      <small>{{ peerParticipant.participantName }}</small>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="footer text-secondary" style="position: relative">
      <div
        class="bottom-right-video bg-dark-1 border border-2"
        [ngClass]="
          meetingService.isRaisedHand ? 'border-warning' : 'border-dark'
        "
      >
        <div style="position: relative">
          <div
            *ngIf="meetingService.userEmojiReacted"
            class="elementToFadeInAndOut display-3 text-center"
          >
            {{ meetingService.userEmojiReaction }}
          </div>

          <span
            class="bottom-left p-1 px-2 rounded-pill text-light shadow mb-1"
          >
            <i
              *ngIf="meetingService.isRaisedHand"
              class="bi bi-hand-index-thumb-fill text-warning pe-1"
            ></i>

            <i
              class="button-icon pe-2"
              [ngClass]="
                mediaService.micStatus === mediaStatus.ENABLED
                  ? 'bi-mic-fill'
                  : 'bi-mic-mute-fill'
              "
            ></i>
            <small>{{ meetingService.userParticipantName }} (You)</small>
          </span>
          <div
            class="text-center d-flex align-items-center justify-content-center"
            [style.height]="'140px'"
            [style.width]="'188px'"
          >
            <ng-container [ngSwitch]="mediaService.cameraStatus">
              <ng-container *ngSwitchCase="mediaStatus.ERROR"></ng-container>
              <ng-container *ngSwitchCase="mediaStatus.LOADING">
                <div
                  class="spinner-border cust-text-secondary"
                  role="status"
                ></div>
              </ng-container>
              <ng-container *ngSwitchCase="mediaStatus.ENABLED">
                <video
                  style="transform: scale(-1, 1)"
                  [srcObject]="mediaService.localMediaStream"
                  [autoplay]="true"
                  [muted]="true"
                ></video>
              </ng-container>
              <ng-container *ngSwitchCase="mediaStatus.DISABLED">
                <small
                  class="particpant-avatar-small text-uppercase p-1"
                  ngClass="participant-color-1"
                  >{{
                    splitPartcipantName(meetingService.userParticipantName)
                  }}</small
                >
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="meetingSideSection.section !== 'hide'"
    class="p-2 flex-shrink-1 border-secondary bg-dark-1"
    style="width: 25%"
  >
    <div [ngSwitch]="meetingSideSection.section">
      <div *ngSwitchCase="'people'">
        <app-meeting-participants
          [meetingSideSection]="meetingSideSection"
        ></app-meeting-participants>
      </div>
      <div *ngSwitchCase="'message'">
        <app-meeting-messages
          [meetingSideSection]="meetingSideSection"
        ></app-meeting-messages>
      </div>
    </div>
  </div>
</div>
