<div class="d-flex justify-content-center">
  <div class="text-center" style="margin-top: 25vh">
    <div class="call-hangaup-icon d-inline-block px-2">
      <i class="bi bi-telephone-fill text-light" style="font-size: 4rem"></i>
    </div>

    <div class="h2 text-light pt-4 mt-3">Thanks for joining!</div>
    <div class="fs-6 text-secondary">
      You have successfully left the call. Hope you found it engaging.
    </div>
    <div class="pt-4 mt-4">
      <a class="btn btn-sm btn-danger mx-2 py-1" style="min-width: 200px" routerLink="/">
        <i
          class="bi bi-chevron-left pe-2 align-middle"
          style="font-size: 1.1rem"
        ></i>
        Go to Home
      </a>
      <button
        class="btn btn-sm btn-outline-light border-secondary mx-2 py-1"
        style="min-width: 200px"
        (click)="onReJoin()"
      >
        <i
          class="bi bi-telephone-forward-fill pe-3 align-middle"
          style="font-size: 1.1rem"
        ></i
        > Re-join Meeting 
      </button>
    </div>
  </div>
</div>
