<nav
  class="navbar sticky-tops cust-bg-primary navbar-expand-lg navbar-dark"
  style="border-bottom: 1px solid #252525"
>
  <div class="container-fluid">
    <div class="d-flex p-2 w-100">
      <div class="align-self-center pe-4 me-4">
        <a
          class="navbar-branda text-secondary text-decoration-none"
          routerLink="/"
          title="Go to home"
        >
          <span class="h6">
            <div class="text-nowrap">
              <i
                class="bi bi-camera-video text-light p-0 px-1 rounded-2 bg-danger align-middle"
                style="
                  font-size: 1rem;
                  border: 1px solid rgb(144, 50, 0);
                  color: rgb(255, 211, 211);
                "
              ></i>
              <span class="ps-2 text-danger align-middle fs-6">
                <strong>ZenMeet</strong>
              </span>
            </div>
          </span>
        </a>
      </div>
      <div class="align-self-center me-4 text-nowrap">
        <a
          class="nav-link pe-enabled"
          title="Join Meeting"
          (click)="openJoinMeetingDialog()"
        >
          <span class="font-sm">Join now</span>
        </a>
      </div>
      <div class="align-self-center me-4 text-nowrap">
        <a
          class="nav-link pe-enabled"
          title="Start New Meeting"
          (click)="openNewMeetingDialog()"
        >
          <span class="font-sm"> New meeting</span>
        </a>
      </div>

      <div class="ms-auto align-self-center ps-2">
        <span class="text-nowrap">
          <small>
            <a
              class="align-middle pe-3 me-3 border-end pe-enabled border-secondary text-decoration-none"
              target="_blank"
              href="/"
            >
              ZenMeet System Design Blog
            </a>
          </small>
        </span>

        <span>
          <small>
            <a
              class="align-middle pe-3 me-3 border-end pe-enabled border-secondary"
              target="_blank"
              href="https://github.com/SameerKhurd/zen-meet"
            >
              <i class="align-middle bi bi-github" style="font-size: 1rem"></i
            ></a>
          </small>
        </span>
        <span>
          <small>
            <a
              class="align-middle pe-3 me-3 border-end pe-enabled border-secondary"
              target="_blank"
              href="https://www.linkedin.com/in/sameer-khurd"
            >
              <i
                class="bi bi-linkedin align-middle pe-1"
                style="font-size: 1rem"
              ></i>
            </a>
          </small>
        </span>
        <span class="text-nowrap">
          <small>
            <i
              class="bi bi-stars align-middle pe-1 fw-boeld text-warning"
              style="font-size: 1rem"
            ></i
            ><span class="pe-enabled align-middle txt-secondary">
              <a
                class="pe-enabled text-decoration-none"
                target="_blank"
                href="https://www.linkedin.com/in/sameer-khurd"
              >
                Developed by <strong> Sameer Khurd </strong></a
              ></span
            >
          </small>
        </span>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
