video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: rgb(44, 62, 80);
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-enabled {
  cursor: pointer;
  color: #ccc;
}

.pe-enabled:hover {
  //color: #d44553;
  color: #fff;
}
